<head>
  <meta property="og:image" content="https://raw.githubusercontent.com/suvranilghosh/suvranilghosh.github.io/master/static/assets/img/thumbnail.png" />  
  <meta prefix="og: http://ogp.me/ns#" property="og:image" content="https://github.com/suvranilghosh/suvranilghosh.github.io/blob/master/static/assets/img/thumbnail.png" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1; minimum-scale=1; user-scalable=no;">
  {% if page.desc %}
    <meta property='og:description' content='My Portfolio Website!'/>
    <meta content="{{ page.desc }}" name="description">
  {% endif %}
  {% if page.keywords %}
    <meta name="keywords" content="{{ page.keywords }}">
  {% endif %}
  <meta name="author" content="Suvranil Ghosh">
  <meta property='og:url' content='https://suvranilghosh.github.io/'/>
  <meta name="baseurl" content="{{ site.baseurl }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://metatags.io/">
  <meta property="og:title" content="Meta Tags — Preview, Edit and Generate">
  <meta property="og:description" content="With Meta Tags you can edit and experiment with your content then preview how your webpage will look on Google, Facebook, Twitter and more!">
  <meta property="og:image" content="https://metatags.io/assets/meta-tags-16a33a6a8531e519cc0936fbba0ad904e52d35f34a46c97a2c9f6f7dd7d336f2.png">

  <title>
    {% if page.title != "index" %}
        <meta property='og:title' content='Title of the article'/>
        {{ site.title }}|{{ page.title }}
    {% else %}
        {{ site.title }}
    {% endif %}
  </title>
  <!-- favicon -->
  <link rel="shortcut icon" href="{{ "/static/assets/img/favicon.ico" | prepend: site.baseurl }}">

  <!-- Main CSS -->
  <link href="{{ "/static/assets/app-20200630.min.css" | prepend: site.baseurl }}" rel="stylesheet">
  <link href="{{ "/static/css/custom.css" | prepend: site.baseurl }}" rel="stylesheet">

  <!-- Main Scripts -->
  <script src="{{"/static/assets/app-20200630.min.js"| prepend: site.baseurl }}"></script>
  <script src="{{"/static/assets/blog-20200630.min.js"| prepend: site.baseurl }}"></script>

  <!-- Google AdSense -->
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-6196184620200630",
      enable_page_level_ads: true
    });
  </script>
</head>
